body {
  color: pink;
}

.container {
  display: block;
  margin: 0 auto;
  background: black;
  border-radius: 40px;
  max-width: 1200px;
}

h1,
h2 {
  text-align: center;
}

form {
  text-align: center;
}
